.cjlt{ background:url("cjlt.png") top left no-repeat; }
.青海省旅游局_r10_c3{ width:25px; height:25px; background-position:-10px -10px; }
.青海省旅游局_r6_c2{ width:25px; height:25px; background-position:-10px -45px; }
.青海省旅游局_r3_c8{ width:24px; height:24px; background-position:-10px -80px; }
.青海省旅游局_r11_c9{ width:24px; height:23px; background-position:-10px -114px; }
.青海省旅游局_r2_c4{ width:23px; height:23px; background-position:-10px -147px; }
.青海省旅游局_r7_c7{ width:31px; height:18px; background-position:-10px -180px; }

